$priC: #3d474b;
$secC: #599474;
$terC: #41565f;
$conC1: #00ff73;
$conC2: #4dc5b5;

@keyframes ani1 {
    0% {
        opacity: 0;
        left: 6%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@keyframes ani2 {
    0% {
        opacity: 0;
        right: 6%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}
@keyframes ani3 {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        left: 0;
    }
}

body{
    background-color: $priC;
    color: white;
    text-align: justify;
    text-justify: auto;
    font-family: Montserrat,sans-serif;
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: inherit; 
    text-decoration: inherit; 
}
a:hover{
    color: inherit;
}
h1{
    font-weight: bold;
}
.containerheight {
    height: auto !important; 
    min-height: 100%; 
}


.ani1{
    position: relative;
    animation-name: ani1;
    animation-duration: 1s;
}
.ani2{
    position: relative;
    animation-name: ani2;
    animation-duration: 1s;
}
.ani3{
    position: relative;
    animation-name: ani3;
    animation-duration: 1s;
}





.sidenav{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 150px;
    z-index: 3;
}

.divnav{
    background-image: url(../../navback3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
.divnav:hover{
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    font-size: 1em;
}
.menuel{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: $conC1;
    background-color: rgba(255, 255, 255, 0); 
}
.menuel:hover{
    transition: all .2s ease-in-out;
    background-color: $conC1;
    font-size: 1.3em;
    color: #ffffff;
}
.light{
    width: 120px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    color: $conC1;
}
.light:hover{
    transition: all .2s ease-in-out;
    background-color: $conC2;
    font-size: 1.3em;
    color: #ffffff;
}


.barmenu{
    min-width: 60%;
    max-width: 80%;
    height: auto !important;
    min-height: 2em;
    background-image: url(../../band2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid $conC2;
    border-radius: 5px;
}
.barmenu:hover{
    transition: all .4s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.chei{
    height: 2em;
}

.menuelement{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
}
.menuelement:hover{
    transition: all .2s ease-in-out;
    background-color: $conC1;
    font-size: 1.3em;
    color: #ffffff;
}

.divcenter{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.head1{
    font-size: 2.5em;
    font-weight: bold;
}
.head2{
    font-size: 2em;
    font-weight: bold;
}
.topcorner{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    z-index: 5;
}
.botomim{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.zind{
    z-index: 1;
}
.color1{
    color: $conC1;
    text-decoration: none;
}




.divflex{
    display: flex;
}
.row30{
    height: 33%;
}
.divop{
    margin: .5em;
}
.divop:hover{
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.backim{
    background: url(../../scheme.png) no-repeat;
    background-size: 100% 100%;
}
.backrightside{
    background-color: $conC2;
}
.dnn{
    display: none;
}
.bord{
    border: 6px solid $conC2;
    border-radius: 15px;
}
.bandt{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../../band2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 3px;
    z-index: 3;
}
.bandt1{
    position: absolute;
    top:1;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../../band2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 3px;
    z-index: 3;
}


.engback{
    background-image: url(../../enfiback.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




.projectdiv{
    border: 2px solid $terC;
    border-radius: 10px;
    background-color: $terC;
    color: white;
}


.aboutback{
    background-image: url(../../enfiback2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fsb{
    font-size: 1.1em;
}



.contactback{
    background-image: url(../../contactback.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.fback{
    background-color: $secC;
}
.rotate{
    opacity: 1;
}
.rotate:hover{
    transition: all .3s ease-in-out;
    transform: rotate(360deg);
}   




.borde{
    border: 2px solid black;
}


.transform1{
    opacity: 0.85;
}

.transform1:hover{
    transition: all .2s ease-in-out;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

